body{
    background:  linear-gradient(45deg,#43cea2,#185a9d);
    height: 100vh;
    width: 100vw;
}


.small{
	height: 50%;
	width: 50%;
	left: 70px;
	top: ;
	position: absolute;
    transform: perspective(600px) rotateX(-1.98deg) rotateY(29.99deg) scale3d(1,1,1);
    transition: .7s;
}

#imgBox{
	position: relative;
}

#imgBox img{
	width: 100%;
	height: 100%;
    margin-top: 70px;
    margin-left: 40px;
    border-radius: 5px;
	
}

.imgList{
    margin-left: 1120px;
    margin-top: -90px;
}


 li{
    line-height: 20px;
    margin-top: 20px;
    cursor: pointer;
    list-style: none;
     color: white;
     
}

.MenuIcon{
  
    top:4%;
    right: 3%;
    font-size: 30px; 
    position: absolute;
    cursor: pointer;
    color: black;
}

.full{
    height: 100%;
	width: 100%;
    left:-60px;
    top:-70px;
    transform: perspective(0) rotateX(0) rotateY(0) scale3d(0);
    transition: .7s;
}

#transfer{
    width:20px;
    height: 20px;
    margin-left: 130px;
    margin-top: -5530px;
}

@media only screen and (max-width:770px){
body{
    height:100vh;
    width: 100vw;
 }
    
    

    
.imgList{
    margin-left: 0;
    margin-top: -130px;
}
    
    #transfer{
    width:20px;
    height: 20px;
    margin-left: 30px;
    margin-top: 5px;
}
    


#imgBox img{
    width: 100%;
    height: 100%;
    margin-top: 70px;
    margin-left: 40px;
    border-radius: 5px;
    
}
    
    
}