body{
    background:#fff;
    background-position: center;
    background-size: cover;
}

#form{
    background: white;
    align-items: center;
    width: 300px;
    height: 300px;
    margin-left: 500px;
    margin-top: 150px;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 4px rgba(0,0,0,0.2), 4px 6px 20px 4px rgba(0,0,0,0.2);
}

h1{
    text-align: center
}

input{
    margin-left: 50px;
    margin-top: 20px;
    width:200px;
    height: 20px;
    
}

.btn{
    margin-left: 50px;
    margin-top: 30px;
    width: 210px;
    height: 30px;
    border-radius: 5px;
    color: white;
    border: none;
    background: linear-gradient(45deg,#43cea2,#185a9d);
    box-shadow:  4px 4px 8px 4px rgba(0,0,0,0.2), 4px 6px 20px 4px rgba(0,0,0,0.2);
}

.btn a{
    color: white;
    text-decoration: none;
}

span{
    color: red;
    font-size: 10px;
    margin-left: 170px;
    font-family: sans-serif;
}

@media only screen and (max-width: 770px){
    #form{
    background: white;
    align-items: center;
    width: 340px;
    height: 350px;
    margin-left: 30px;
    margin-top: 190px;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 4px rgba(0,0,0,0.2), 4px 6px 20px 4px rgba(0,0,0,0.2);
}
    
    input{
    margin-left: 65px;
    margin-top: 20px;
    width:200px;
    height: 20px;
        font-size: 15px;
    
    }
    
    .btn{
    margin-left: 62px;
    margin-top: 30px;
    width: 210px;
    height: 30px;
    border-radius: 5px;
    color: white;
    border: none;
    background: linear-gradient(45deg,#43cea2,#185a9d);
    box-shadow:  4px 4px 8px 4px rgba(0,0,0,0.2), 4px 6px 20px 4px rgba(0,0,0,0.2);
    font-size:15px;
}
    
    span{
    color: red;
    font-size: 15px;
    margin-left: 170px;
    font-family: sans-serif;
}
    
}
